* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1900px) {
  * {
    text-align: -webkit-center;
  }
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

.footer {
  min-width: 240px;
  width: 100%;
  height: 200px;
  color: white;
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.footer h2 {
  margin: 25px 0 8px 24px;
}

.footer h2 img {
  height: 21px;
  color: white;
}

.footer p {
  margin: 7px 0 0 24px;
}

.footer p i {
  font-size: 14px;
  margin-right: 12px;
}

.footer p a {
  text-decoration: none;
  color: white;
}

.footer p a:visited {
  color: white;
  text-decoration: none;
}

.footer :nth-child(3) i {
  font-size: 10px;
}

@media screen and (min-width: 1900px) {
  .footer {
    max-width: 1900px;
  }
}

.loading__spinner__containers {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: animation-back-spinner 3s forwards ease-in-out;
          animation: animation-back-spinner 3s forwards ease-in-out;
}

@-webkit-keyframes animation-back-spinner {
  0% {
    opacity: 0.9;
    z-index: 5;
    background: white;
  }
  50% {
    opacity: 0.9;
    z-index: 5;
    background: white;
  }
  99% {
    opacity: 0;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -3;
    background: white;
    visibility: hidden;
  }
}

@keyframes animation-back-spinner {
  0% {
    opacity: 0.9;
    z-index: 5;
    background: white;
  }
  50% {
    opacity: 0.9;
    z-index: 5;
    background: white;
  }
  99% {
    opacity: 0;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -3;
    background: white;
    visibility: hidden;
  }
}

.loading__spinner__containers__position {
  background: transparent;
  height: 250px;
  width: 250px;
  position: fixed;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__spinner__containers__position__animation {
  background: transparent;
  height: 100px;
  width: 100px;
  border: 4px solid transparent;
  border-radius: 50px;
  border-top: 9px solid #9356dc;
  border-bottom: 9px solid #ff00d936;
  border-left: 9px solid #ff00d936;
  border-right: 9px solid #ff00d936;
  -webkit-animation: animation-Spinner-Rotate 3s forwards cubic-bezier(0, -0.06, 1, 1.26);
          animation: animation-Spinner-Rotate 3s forwards cubic-bezier(0, -0.06, 1, 1.26);
}

@-webkit-keyframes animation-Spinner-Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes animation-Spinner-Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

.section__header {
  min-width: 240px;
  border-top: #35353552 3px solid;
}

.section__header__ville {
  background: #eaeaea;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__header__ville-containers {
  max-width: 159px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #353535;
}

.section__header__ville-containers i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.section__header__ville-containers__input {
  font-size: 0.9rem;
  width: 82%;
  height: 40px;
  border: none;
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #353535;
}

.section__header__presentation__explore {
  padding-bottom: 11px;
  height: 247px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__header__presentation__explore__restaurant {
  height: 180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__header__presentation__explore__restaurant h3 {
  font-size: 1.4rem;
  width: 63%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.section__header__presentation__explore__restaurant p {
  font-family: "Roboto", sans-serif;
  width: 78%;
  text-align: center;
}

.section__header__presentation__explore__restaurant__btn__header {
  max-width: 310px;
  border: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed73da), to(#a65cdb));
  background: linear-gradient(#ed73da, #a65cdb);
  height: 46px;
  width: 53%;
  border-radius: 30px;
  color: #f6f6f6;
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0.8;
}

.section__header__presentation__explore__restaurant__btn__header:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (min-width: 1900px) {
  .section__header {
    max-width: 1900px;
  }
}

.main {
  min-width: 240px;
  height: auto;
}

.main__fonctionnement {
  height: auto;
  margin-top: 47px;
}

.main__fonctionnement h2 {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  margin: 0px 0 26px 20px;
}

.main__fonctionnement__containers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: #dcdcdc 0px 2px 8px 1px;
          box-shadow: #dcdcdc 0px 2px 8px 1px;
  width: 90%;
  height: 70px;
  margin: 20px 0 0 20px;
  color: #7e7e7e;
  background: #f6f6f6;
  border-radius: 25px;
}

.main__fonctionnement__containers a h3 {
  color: white;
  background: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  margin-left: -12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__fonctionnement__containers a i {
  margin-left: 23px;
  font-size: 20px;
}

.main__fonctionnement__containers a #store {
  font-size: 15px;
}

.main__fonctionnement__containers a p {
  margin-left: 23px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.main__fonctionnement__containers a:hover {
  background-color: #f2e8ff;
  -webkit-transition: 3s;
  transition: 3s;
}

.main__fonctionnement__containers a:hover i {
  -webkit-transition: 2s;
  transition: 2s;
  color: #9356dc;
}

@media screen and (min-width: 768px) {
  .main__fonctionnement__containers a {
    margin: 20px 10px 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .main__fonctionnement__containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main__Restaurant {
  background: #f6f6f6;
  margin-top: 68px;
  padding-top: 47px;
}

.main__Restaurant h2 {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  margin: 0px 0 26px 20px;
  margin-top: 0px;
}

.main__Restaurant__containers__accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 66px;
}

.main__Restaurant__containers__accueil__card {
  height: auto;
  width: 90%;
  background: #ffffff;
  border-radius: 17px 17px 17px 17px;
  margin-top: 20px;
  max-width: 500px;
  position: relative;
}

.main__Restaurant__containers__accueil__card:nth-child(1)::before {
  content: "Nouveau";
  background: #99e2d0;
  position: absolute;
  color: #008766;
  right: 15px;
  top: 15px;
  z-index: 2;
  width: 78px;
  height: 31px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__Restaurant__containers__accueil__card:nth-child(2)::before {
  content: "Nouveau";
  background: #99e2d0;
  position: absolute;
  color: #008766;
  right: 15px;
  top: 15px;
  z-index: 2;
  width: 78px;
  height: 31px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__Restaurant__containers__accueil__card a {
  text-decoration: none;
  position: relative;
}

.main__Restaurant__containers__accueil__card a:visited {
  color: black;
}

.main__Restaurant__containers__accueil__card a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}

@media screen and (min-width: 768px) {
  .main__Restaurant__containers__accueil__card a img {
    height: 220px;
  }
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  border-radius: 0 0 12px 12px;
  padding: 11px 20px 15px 14px;
  font-family: "Roboto", sans-serif;
  color: black;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__description h3 {
  font-size: 1.2rem;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__description p {
  margin-top: 6px;
}

.main__Restaurant__containers__accueil__card__svg {
  position: absolute;
  left: 83%;
  bottom: 56px;
  cursor: pointer;
}

.main__Restaurant__containers__accueil__card__svg svg {
  position: absolute;
  width: 28px;
  height: 28px;
}

.main__Restaurant__containers__accueil__card__svg__heart-full {
  z-index: 3;
  fill: transparent;
}

.main__Restaurant__containers__accueil__card__svg__heart-full:active {
  -webkit-animation: animation-heart 500ms ease-in-out forwards;
          animation: animation-heart 500ms ease-in-out forwards;
}

@-webkit-keyframes animation-heart {
  0% {
    -webkit-transform: scaleX(0) scaleY(0);
            transform: scaleX(0) scaleY(0);
    fill: url(#grandiente-heart);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    fill: url(#grandiente-heart);
  }
}

@keyframes animation-heart {
  0% {
    -webkit-transform: scaleX(0) scaleY(0);
            transform: scaleX(0) scaleY(0);
    fill: url(#grandiente-heart);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    fill: url(#grandiente-heart);
  }
}

@media screen and (min-width: 992px) {
  .main__Restaurant__containers__accueil__card__svg__heart-full {
    -webkit-animation: 3s animation-hover;
            animation: 3s animation-hover;
  }
  .main__Restaurant__containers__accueil__card__svg__heart-full:hover {
    -webkit-animation: 1s animation-hover-heart linear;
            animation: 1s animation-hover-heart linear;
    fill: url(#grandiente-heart);
  }
  @-webkit-keyframes animation-hover-heart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animation-hover-heart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.main__Restaurant__containers__accueil__card__svg__heart {
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .main__Restaurant__containers__accueil__card {
    max-width: 371px;
    margin-top: 31px;
  }
}

@media screen and (min-width: 992px) {
  .main__Restaurant__containers__accueil__card {
    max-width: 429px;
  }
}

@media screen and (min-width: 768px) {
  .main__Restaurant__containers__accueil {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 992px) {
  .main__Restaurant__containers__accueil {
    max-width: 1286px;
  }
}

@media screen and (min-width: 992px) {
  .main__Restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1900px) {
  .main {
    max-width: 1900px;
  }
}

header {
  min-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}

header a:visited {
  color: black;
}

header a i {
  color: #353535;
  position: absolute;
  left: 22px;
  font-size: 21px;
  top: 17px;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 img {
  height: 30px;
}

main .img__main {
  min-width: 240px;
  top: 57px;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50vh;
}

main .img__main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 359px;
  height: 100%;
  max-height: 600vh;
}

@media screen and (min-width: 1900px) {
  main .img__main {
    max-width: 1900px;
  }
}

main .section {
  min-width: 240px;
  padding-bottom: 11vh;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 40vh;
}

main .section__title__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 30px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section__title__menu h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
  max-width: 72%;
}

main .section__title__menu__icon {
  position: relative;
  right: 64px;
  bottom: 16px;
}

main .section__title__menu__icon svg {
  height: 32px;
  width: 57px;
  position: absolute;
}

main .section__title__menu__icon__full-heart {
  fill: transparent;
  z-index: 2;
  cursor: pointer;
}

main .section__title__menu__icon__full-heart:active {
  -webkit-animation: animation-heart 500ms ease-in-out forwards;
          animation: animation-heart 500ms ease-in-out forwards;
}

@keyframes animation-heart {
  0% {
    -webkit-transform: scaleX(0) scaleY(0);
            transform: scaleX(0) scaleY(0);
    fill: url(#grandiente-heart);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    fill: url(#grandiente-heart);
  }
}

@media screen and (min-width: 992px) {
  main .section__title__menu__icon__full-heart {
    -webkit-animation: 3s animation-hover;
            animation: 3s animation-hover;
  }
  main .section__title__menu__icon__full-heart:hover {
    -webkit-animation: 1s animation-hover-heart linear;
            animation: 1s animation-hover-heart linear;
    fill: url(#grandiente-heart);
  }
  @-webkit-keyframes animation-hover-heart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animation-hover-heart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

main .section__title__menu__icon__empty-heart {
  z-index: 1;
}

main .section__containers__menu {
  padding: 0px 24px;
  font-family: "Roboto", sans-serif;
}

main .section__containers__menu__position {
  margin: 0px;
}

main .section__containers__menu__position__title {
  margin: 40px 0 0px 10px;
}

main .section__containers__menu__position__title h3 {
  font-size: 1rem;
}

main .section__containers__menu__position__title__bottom {
  border-bottom: 3px solid #99e2d0;
  margin-top: 8px;
  width: 35px;
}

main .section__containers__menu__position__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 64px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.041) 0px 1px 8px 3px;
          box-shadow: rgba(0, 0, 0, 0.041) 0px 1px 8px 3px;
  margin-top: 12px;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
}

main .section__containers__menu__position__cards:active .section__containers__menu__position__cards__h3-p {
  -webkit-animation: animation-h3p 800ms forwards;
          animation: animation-h3p 800ms forwards;
}

@-webkit-keyframes animation-h3p {
  0% {
    width: 82%;
  }
  100% {
    width: 70%;
  }
}

@keyframes animation-h3p {
  0% {
    width: 82%;
  }
  100% {
    width: 70%;
  }
}

main .section__containers__menu__position__cards:active .section__containers__menu__position__cards__i {
  -webkit-animation: animation-icon__valid 800ms forwards ease-in-out;
          animation: animation-icon__valid 800ms forwards ease-in-out;
}

@-webkit-keyframes animation-icon__valid {
  0% {
    width: 0%;
  }
  100% {
    width: 18%;
  }
}

@keyframes animation-icon__valid {
  0% {
    width: 0%;
  }
  100% {
    width: 18%;
  }
}

main .section__containers__menu__position__cards:active i {
  -webkit-animation: rotate-valid 1s forwards ease-in-out;
          animation: rotate-valid 1s forwards ease-in-out;
}

@-webkit-keyframes rotate-valid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-valid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

main .section__containers__menu__position__cards__h3-p {
  width: 83%;
  height: 100%;
  padding: 10px 0 10px 10px;
}

main .section__containers__menu__position__cards__h3-p h3 {
  font-weight: bold;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

main .section__containers__menu__position__cards__h3-p p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin-top: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-weight: bold;
  opacity: 0.8;
}

main .section__containers__menu__position__cards .price {
  font-weight: bold;
  width: 13%;
  height: 100%;
  padding-top: 30px;
}

main .section__containers__menu__position__cards__i {
  overflow: hidden;
  height: 100%;
  width: 0%;
  background: #99e2d0;
  border-radius: 0 12px 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section__containers__menu__position__cards__i i {
  font-size: 1.7rem;
  color: white;
}

main .section__containers__menu__position__cards:nth-child(2) {
  visibility: hidden;
  -webkit-animation: animation-apparition 500ms forwards;
          animation: animation-apparition 500ms forwards;
}

@-webkit-keyframes animation-apparition {
  0% {
    visibility: hidden;
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-apparition {
  0% {
    visibility: hidden;
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

main .section__containers__menu__position__cards:nth-child(3) {
  visibility: hidden;
  -webkit-animation: animation-apparition 500ms forwards;
          animation: animation-apparition 500ms forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@keyframes animation-apparition {
  0% {
    visibility: hidden;
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

main .section__containers__menu__position__cards:nth-child(4) {
  visibility: hidden;
  -webkit-animation: animation-apparition 500ms forwards;
          animation: animation-apparition 500ms forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@keyframes animation-apparition {
  0% {
    visibility: hidden;
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

main .section__containers__menu__position__cards:nth-child(5) {
  visibility: hidden;
  -webkit-animation: animation-apparition 500ms forwards;
          animation: animation-apparition 500ms forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@keyframes animation-apparition {
  0% {
    visibility: hidden;
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  main .section__containers__menu__position__cards:hover .section__containers__menu__position__cards__h3-p {
    -webkit-animation: animation-h3p 800ms forwards;
            animation: animation-h3p 800ms forwards;
  }
  @-webkit-keyframes animation-h3p {
    0% {
      width: 82%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes animation-h3p {
    0% {
      width: 82%;
    }
    100% {
      width: 70%;
    }
  }
  main .section__containers__menu__position__cards:hover .section__containers__menu__position__cards__i {
    -webkit-animation: animation-icon__valid 800ms forwards ease-in-out;
            animation: animation-icon__valid 800ms forwards ease-in-out;
  }
  @-webkit-keyframes animation-icon__valid {
    0% {
      width: 0%;
    }
    100% {
      width: 18%;
    }
  }
  @keyframes animation-icon__valid {
    0% {
      width: 0%;
    }
    100% {
      width: 18%;
    }
  }
  main .section__containers__menu__position__cards:hover i {
    -webkit-animation: rotate-valid 1s forwards ease-in-out;
            animation: rotate-valid 1s forwards ease-in-out;
  }
  @-webkit-keyframes rotate-valid {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  @keyframes rotate-valid {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
}

@media screen and (min-width: 768px) {
  main .section__containers__menu__position {
    margin: 7px;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  main .section__containers__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .section__btn-menu {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section__btn-menu button {
  max-width: 310px;
  border: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed73da), to(#a65cdb));
  background: linear-gradient(#ed73da, #a65cdb);
  height: 46px;
  width: 53%;
  border-radius: 30px;
  color: #f6f6f6;
  font-size: 0.9rem;
  opacity: 0.7;
  cursor: pointer;
}

main .section__btn-menu button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

@media screen and (min-width: 1900px) {
  main {
    max-width: 1900px;
  }
}
/*# sourceMappingURL=main.css.map */