@import "base/base";
@import "utils/mixins";
@import "layout/footer";  
@import "pages/index";

header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    & h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
         & img{
        height: 30px; 

}
    }

}
  