* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: 200px;
  color: white;
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h2 {
  margin: 25px 0 8px 24px;
}

.footer h2 img {
  height: 21px;
  color: white;
}

.footer p {
  margin: 7px 0 0 24px;
}

.footer p i {
  font-size: 14px;
  margin-right: 12px;
}

.footer p a {
  text-decoration: none;
  color: white;
}

.footer p a:visited {
  color: white;
  text-decoration: none;
}

.footer :nth-child(3) i {
  font-size: 10px;
}

.section__header {
  border-top: #35353552 3px solid;
}

.section__header__ville {
  background: #eaeaea;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__header__ville-containers {
  max-width: 159px;
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #353535;
}

.section__header__ville-containers i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.section__header__presentation__explore {
  padding-bottom: 11px;
  height: 247px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__header__presentation__explore__restaurant {
  height: 180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__header__presentation__explore__restaurant h3 {
  font-size: 1.4rem;
  width: 63%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.section__header__presentation__explore__restaurant p {
  font-family: "Roboto", sans-serif;
  width: 78%;
  text-align: center;
}

.section__header__presentation__explore__restaurant__btn__header {
  max-width: 310px;
  border: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed73da), to(#a65cdb));
  background: linear-gradient(#ed73da, #a65cdb);
  height: 46px;
  width: 53%;
  border-radius: 30px;
  color: #f6f6f6;
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0.9;
}

.section__header__presentation__explore__restaurant__btn__header:hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.main {
  height: auto;
}

.main__fonctionnement {
  height: auto;
  margin-top: 47px;
}

.main__fonctionnement h2 {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  margin: 0px 0 26px 20px;
}

.main__fonctionnement a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: #dcdcdc 0px 2px 8px 1px;
          box-shadow: #dcdcdc 0px 2px 8px 1px;
  width: 90%;
  height: 70px;
  margin: 20px 0 0 20px;
  color: #7e7e7e;
  background: #f6f6f6;
  border-radius: 25px;
}

.main__fonctionnement a h3 {
  color: white;
  background: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 60px;
  margin-left: -12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__fonctionnement a i {
  margin-left: 23px;
  font-size: 20px;
}

.main__fonctionnement a #store {
  font-size: 15px;
}

.main__fonctionnement a p {
  margin-left: 23px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.main__fonctionnement a:hover {
  background-color: #f2e8ff;
  -webkit-transition: 3s;
  transition: 3s;
}

.main__fonctionnement a:hover i {
  -webkit-transition: 2s;
  transition: 2s;
  color: #9356DC;
}

.main__Restaurant {
  background: #f6f6f6;
  margin-top: 68px;
  padding-top: 47px;
}

.main__Restaurant h2 {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  margin: 0px 0 26px 20px;
  margin-top: 0px;
}

.main__Restaurant__containers__accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 66px;
}

.main__Restaurant__containers__accueil__card {
  height: auto;
  width: 90%;
  background: #ffffff;
  border-radius: 17px 17px 17px 17px;
  margin-top: 20px;
  max-width: 500px;
  position: relative;
}

.main__Restaurant__containers__accueil__card:nth-child(1)::before {
  content: "Nouveau";
  background: #99e2d0;
  position: absolute;
  color: #008766;
  right: 15px;
  top: 15px;
  z-index: 3;
  width: 78px;
  height: 31px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__Restaurant__containers__accueil__card:nth-child(2)::before {
  content: "Nouveau";
  background: #99e2d0;
  position: absolute;
  color: #008766;
  right: 15px;
  top: 15px;
  z-index: 3;
  width: 78px;
  height: 31px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__Restaurant__containers__accueil__card a {
  text-decoration: none;
  position: relative;
}

.main__Restaurant__containers__accueil__card a:visited {
  color: black;
}

.main__Restaurant__containers__accueil__card a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  border-radius: 0 0 12px 12px;
  padding: 11px 20px 15px 14px;
  font-family: "Roboto", sans-serif;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__description h3 {
  font-size: 1.2rem;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__description p {
  margin-top: 6px;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__svg {
  position: relative;
  right: 34px;
  bottom: 21px;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__svg svg {
  position: absolute;
  width: 28px;
  height: 28px;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__svg__heart-full {
  z-index: 2;
  fill: transparent;
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__svg__heart-full:active {
  -webkit-animation: animation-heart 500ms ease-in-out forwards;
          animation: animation-heart 500ms ease-in-out forwards;
}

@-webkit-keyframes animation-heart {
  0% {
    -webkit-transform: scaleX(0) scaleY(0);
            transform: scaleX(0) scaleY(0);
    fill: url(#grandiente-heart);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    fill: url(#grandiente-heart);
  }
}

@keyframes animation-heart {
  0% {
    -webkit-transform: scaleX(0) scaleY(0);
            transform: scaleX(0) scaleY(0);
    fill: url(#grandiente-heart);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    fill: url(#grandiente-heart);
  }
}

.main__Restaurant__containers__accueil__card a .underpictures__accueil__svg__heart {
  z-index: 1;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}

header a:visited {
  color: black;
}

header a i {
  color: #353535;
  position: absolute;
  left: 22px;
  font-size: 21px;
  top: 17px;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 img {
  height: 30px;
}

main .img__main {
  top: 57px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

main .img__main img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  MIN-HEIGHT: 359px;
  MAX-HEIGHT: 359px;
}

main .section {
  padding-bottom: 11vh;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 42vh;
}

main .section__title__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 30px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section__title__menu h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
}

main .section__title__menu__icon {
  position: relative;
  right: 82px;
  bottom: 16px;
}

main .section__title__menu__icon svg {
  height: 32px;
  width: 57px;
  position: absolute;
}

main .section__title__menu__icon__full-heart {
  fill: transparent;
  z-index: 2;
}

main .section__title__menu__icon__full-heart:active {
  -webkit-animation: animation-heart 500ms ease-in-out forwards;
          animation: animation-heart 500ms ease-in-out forwards;
}

@keyframes animation-heart {
  0% {
    -webkit-transform: scaleX(0) scaleY(0);
            transform: scaleX(0) scaleY(0);
    fill: url(#grandiente-heart);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    fill: url(#grandiente-heart);
  }
}

main .section__title__menu__icon__empty-heart {
  z-index: 1;
}

main .section__containers__menu {
  padding: 0px 24px;
  font-family: "Roboto", sans-serif;
}

main .section__containers__menu__title {
  margin: 40px 0 0PX 10px;
}

main .section__containers__menu__title h3 {
  font-size: 1rem;
}

main .section__containers__menu__title__bottom {
  border-bottom: 3px solid #99e2d0;
  margin-top: 8px;
  width: 35px;
}

main .section__containers__menu__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.041) 0px 1px 8px 3px;
          box-shadow: rgba(0, 0, 0, 0.041) 0px 1px 8px 3px;
  margin-top: 12px;
  border-radius: 12px;
  padding: 10px 20px 10px 10px;
}

main .section__containers__menu__cards__h3-p h3 {
  font-weight: bold;
  font-size: 1.1rem;
}

main .section__containers__menu__cards__h3-p p {
  margin-top: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

main .section__containers__menu__cards .price {
  font-weight: bold;
}

main .section__btn-menu {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section__btn-menu button {
  max-width: 310px;
  border: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed73da), to(#a65cdb));
  background: linear-gradient(#ed73da, #a65cdb);
  height: 46px;
  width: 53%;
  border-radius: 30px;
  color: #f6f6f6;
  font-size: 0.9rem;
  opacity: 0.8;
  cursor: pointer;
}

main .section__btn-menu button:hover {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */