@import "../utils/variables";
@import "../utils/mixins";

      //  loading-spinner
.loading__spinner__containers {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  @include flex-align-justify__center;
  @include animation-background-spinner;
  

  &__position {
    background: transparent;
    height: 250px;
    width: 250px;
    position: fixed;
    cursor: pointer;
    @include flex-align-justify__center;
    &__animation {
      background: transparent;
      height: 100px;
      width: 100px;
      border: 4px solid transparent;
      border-radius: 50px;
      border-top: $border-loading $colour-primary;
      border-bottom: $border-loading  $color-loading;
      border-left: $border-loading  $color-loading;
      border-right: $border-loading  $color-loading;
      @include animation-spinner;
    }
  }
}
      // header
.section__header {
  min-width: 240px;
  border-top: $color-fourth 3px solid;
  &__ville {
    background: #eaeaea;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    &-containers {
      max-width: 159px;
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: $font-text;
      font-size: 10px;
      color: $colour-header;
      & i {
        display: flex;
        align-items: center;
        font-size: 15px;
      }
      &__input {
        font-size: 0.9rem;
        width: 82%;
        height: 40px;
        border: none;
        background: #eaeaea;
        font-family: $font-text;
        font-weight: bold;
        color: #353535;
      }
    }
  }
  &__presentation__explore {
    padding-bottom: 11px;
    height: 247px;
    background: $background--1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__restaurant {
      height: 180px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      & h3 {
        font-size: 1.4rem;
        width: 63%;
        text-align: center;
        font-family: $font-text;
      }
      & p {
        font-family: $font-text;
        width: 78%;
        text-align: center;
      }
      &__btn__header {
        @include btn-brightness;
        cursor: pointer;
        opacity: 0.8;
        &:hover {
          opacity: 1;
          transition: 1s;
        }
      }
    }
  }
}
// main
.main {
  min-width: 240px;
  height: auto;
  // fonctionnement-1
  &__fonctionnement {
    height: auto;
    margin-top: 47px;
    & h2 {
      @include accueil-h2;
    }
    &__containers{
  
    & a {
      @include accueil-btn;

      & h3 {
        color: $color-number;
        background: $colour-primary;
        width: 30px;
        height: 30px;
        border-radius: 60px;
        margin-left: -12px;
        font-family: $font-text;
        font-size: 15px;
        @include flex-align-justify__center;
      }
      & i {
        margin-left: $margin-number-icon;
        font-size: 20px;
      }
      & #store {
        font-size: 15px;
      }
      & p {
        margin-left: $margin-number-icon;
        color: black;
        font-family: $font-text;
        font-weight: bold;
      }
      &:hover {
        background-color: #f2e8ff;
        transition: 3s;
        & i {
          transition: 2s;
          color: $colour-primary;
        }
      }
      @include tablette-min{
        margin: 20px 10px 0 20px;
      }
    } 
    @include tablette-min{
      display: flex;
      flex-direction: row;
    }
    }
  }
  // restaurant-2
  &__Restaurant {
    background: $color-3-accueil;
    margin-top: 68px;
    padding-top: 47px;
    & h2 {
      @include accueil-h2;
      margin-top: 0px;
    }
    &__containers__accueil {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 66px;
     
      &__card {
        @include containers-card-accueil;
        max-width: 500px;
        position: relative;
        &:nth-child(1)::before {
          @include containers-after;
          @include flex-align-justify__center;
        }
        &:nth-child(2)::before {
          @include containers-after;
          @include flex-align-justify__center;
        }

        & a {
          text-decoration: none;
          position: relative;
          &:visited {
            color: black;
          }
          & img {
            @include img-accueil;
            @include tablette-min{
              height: 220px;
            }
          }
          & .underpictures__accueil {
            @include underpic-accueil;
            &__description {
              & h3 {
                font-size: 1.2rem;
              }
              & p {
                margin-top: 6px;
              }
            }
          }
        }
        &__svg {
          position: absolute;
          left: 83%;
          bottom: 56px;
          cursor: pointer;
          & svg {
            position: absolute;
            width: 28px;
            height: 28px;
          }
          &__heart-full {
            z-index: 3;
            fill: transparent; 
            &:active {
              @include animation-heart;
            }
            @include desktop-min{
             animation: 3s animation-hover;
             &:hover{
               animation: 1s animation-hover-heart linear;
               fill: url(#grandiente-heart);
               @keyframes animation-hover-heart {
                 0%{
                   opacity: 0;
                 }
                 100%{
                   opacity: 1;
                 }
               }
              
                
              }
            }
          }
          &__heart {
            z-index: 1;
          }
        }
        @include tablette-min{
          max-width: 371px;
          margin-top: 31px;
        }
        @include desktop-min{
          max-width: 429px;
        }
      } 
      @include tablette-min{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      @include desktop-min{
        max-width: 1286px;
      }
    }
    @include desktop-min{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }
}
