@import "../utils/variables";
@import "../utils/functions";
 

@mixin accueil-h2 {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0 26px 20px;
}

@mixin accueil-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    box-shadow:#dcdcdc 0px 2px 8px 1px;
    width: 90%;
    height: 70px;
    margin:20px 0 0 20px;
    color: $color-text-brightness;
    background: $color-btn-header;
    border-radius: 25px;
}
@mixin flex-align-justify__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin containers-card-accueil{
    height: auto;
    width: 90%;
    background: #ffffff;
    border-radius: 17px 17px 17px 17px;
    margin-top: 20px;
}
@mixin containers-after {
          content: "Nouveau";
          background: $color-after;
          position: absolute;
          color: $color-after-text;
          right: 15px;
          top: 15px;
          z-index: 3;
          width: 78px;
          height: 31px;
          border-radius: 5px;
}
@mixin img-accueil {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}
@mixin underpic-accueil {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    position: relative;
    border-radius: 0 0 12px 12px;
    padding: 11px 20px 15px 14px;
    font-family: $font-text;
    
}
@mixin animation-heart {
    background: orange;
    animation: heart 4s forwards  ;
    transform: scaleY(0);
    height: 30px;
    width: 30px;
    @keyframes heart {
        10%{
            transform: scaleY(0.5);
        }
        100%{
            transform: scaleY(1);
        }
    }
}
@mixin visited {
    &:visited{
        color: black;
    }
    
}
@mixin card-menu {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
    position: relative;
    background-color: $background-card;
    box-shadow: $dark 0px 1px 8px 3px;
    margin-top: 12px;
    border-radius: 12px;
    padding: 10px 20px 10px 10px;
}


@mixin btn-brightness {
    max-width: 310px;
    border: none;
    text-decoration: none;
    background: $color-gradiente;
    height: 46px;
    width: 53%;
    border-radius: 30px;
    color: $color-btn-header;
    font-size: 0.9rem;
    
}

@mixin svg-menu {

    height: 32px;
    width: 57px;
    position: absolute;
    
}
@mixin animation-heart {
    animation: animation-heart 500ms ease-in-out forwards;
    @keyframes animation-heart {
        0%{

            transform: scaleX(0) scaleY(0);
            fill: url(#grandiente-heart);
        }
       
        100%{
            transform: scaleX(1) scaleY(1);
            fill: url(#grandiente-heart);
        }
    }
    }
   



































@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}
@mixin card__acueil($color) {
    border: blue 2px solid;
    padding: 10px;
    width: 100%;
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin h2-{

}