@import "../utils/variables";


@mixin accueil-h2 {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0 26px 20px;
}
@mixin accueil-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    box-shadow:#dcdcdc 0px 2px 8px 1px;
    width: 90%;
    height: 70px;
    margin:20px 0 0 20px;
    color: $color-text-brightness;
    background: $color-btn-header;
    border-radius: 25px;
}
@mixin flex-align-justify__center {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}
@mixin card__acueil($color) {
    border: blue 2px solid;
    padding: 10px;
    width: 100%;
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin h2-{

}