$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-footer: #353535;
$colour-header:#353535;
$colour-invalid: #DB464B;
$color-number:white;
$color-gradiente:linear-gradient(#ed73da, #a65cdb);
$color-btn-header:#f6f6f6;
$color-text-brightness:#7e7e7e;
$font-text:'Roboto', sans-serif;
$font-title:'Shrikhand', cursive;
$color-3-accueil:#f6f6f6;
$color-animation-menu:#99e2d0;
$background-card:white;
$color-after:#99e2d0;
$color-after-text:#008766;
$dark:rgba(0, 0, 0, 0.041);
$margin-menu-containers-title: 40px 0 0PX 10px;




$margin-number-icon:23px;
$margin-footer: 24px;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;
