$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-footer: #353535;
$colour-header:#353535;
$colour-invalid: #DB464B;
$color-number:white;
$color-gradiente:linear-gradient(#e252ffa4, #b41db4);
$color-btn-header:#f6f6f6;
$color-text-brightness:#7e7e7e;
$font-text:'Roboto', sans-serif;
$font-title:'Shrikhand', cursive;
$color-3-accueil:#f6f6f6;

$margin-number-icon:23px;
$margin-footer: 24px;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;
